@import "mocha.css";

/* margin: top right bottom left */
/* Spacing outside the element */

/* padding: top right bottom left */
/* Spacing inside the element */

* {
  /* all: initial; */
  font-family: JetBrainsMono Nerd Font, FontAwesome;
  font-size: 16px;
  font-weight: bold;
}

window#waybar {
  /* background-color: @fg1; */
  /* color: @bg0; */
  background-color: @theme_base_color;
  color: @theme_text_color;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px 0px 15px 15px;
  transition-duration: .5s;

}

#custom-launcher,
#clock,
#clock-date,
#workspaces,
#pulseaudio,
#network,
#battery,
#memory,
#cpu,
#tray,
#custom-powermenu {
  background-color: @fg1;
  color: @bg0;

  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
	border-radius: 5px;

}

#workspaces {
  padding: 1px;
}

#workspaces button.active {
  background-color: @blue;
  color: @g0;

	border-radius: 10px;

  margin-bottom: -5px;

  border-bottom-width: 5px;
  border-bottom-color: #366660;
  border-bottom-style: solid;
}
#workspaces button {
  background-color: @lavender;
}

#custom-launcher {
  background-color: @green;
  color: @theme_text_color;
  border-bottom-color: #556a35;

  margin-left: 15px;
  padding-left: 20px;
  padding-right: 21px;
}

#custom-powermenu {
  background-color: @red;
  color: @theme_text_color;
  border-bottom-color: #951c1f;

  margin-right: 5px;
  padding-left: 20px;
  padding-right: 23px;
}
